html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
}

.nav_bar {
    margin: auto;
    border-bottom: 1px solid;
    width: 860px;
    padding: 0px 20px 0px 20px;
} 

.nav_bar ul {
    padding: 0;
    list-style: none;
}

.nav_bar ul li {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: #000000;
    background: #6db1e4;
    border: 1px solid #000000;
    border-bottom: none;
    padding: 20px;
    width: 75px;
    display: block;
    text-align: center;
}

.nav_bar ul li a:hover {
    text-decoration: none;
    color: #000000;
    background: #96e0e9;
}

.nav_bar ul li a#onlink {
    background: #ffffff;
    color: #000000;
}

.main_container {
    margin: auto;
    width: 860px;
    padding: 20px;
    border: 1px solid #000000;
    min-height: 400px;
    border-top: none;
    background: #ffffff;
}