<div id="content">
    <ul class="topnav animated fadeInDown">
        <li><a class="active">About</a></li>
        <li><a id="education">Education</a></li>
        <li><a id="work">Work Experience</a></li>
        <li><a id="projects">Projects & Researches</a></li>
        <li><a id="skills">Skills & Interests</a></li>
        <li><a id="activities">Activities & Leadership</a></li>
    </ul>
    </br>
    
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeInRight">
        <h2 class="w3-text-dark-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge midnight-blue"></i>About Me</h2>
        <div class="w3-container">
            <p>Hello, my name is Minh Vo. You can just call me Minh!</p>
            I come from Hanoi, Vietnam. At the moment, I am an undergraduate student at Earlham College.
            My major is Computer Science. I am also a Minor in Mathematics and Physics.
            </p>
            <p>With the interest in various science fields, I have developed an attraction towards Machine Learning, which involves both
            Computer Science and Mathematics.
            That is why my ongoing senior capstone project/research is about a topic belonging to that particular field.
            </p>
            <p>
            I am completing my senior year at Earlham. Thus, I am currently looking for job opportunities in the technology industry, especially
            ones that involve Machine Learning.
            </p>
            <p>
            You can learn more about me by exploring different sections above.
            Thanks for visiting my personal website! :)
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" src="..js/jquery.js"></script>