<!DOCTYPE html>
<html>
<title>Minh Vo</title>
<meta property="og:site_name" content="Minh Vo"/>
<meta property="og:title" content="Minh Vo"/>
<meta property="og:description" content="Computer Science Major"/>
<meta property="og:image" content="../images/Minh.jpg">
<meta property="og:type" content="website"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../styles/w3.css">
<link rel="stylesheet" href="../styles/style.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
  
        <!-- Left Column -->
        <div class="col-sm-3">
            <div class="w3-white w3-text-dark-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="../images/Minh.jpg" style="width:100%" alt="Profile Pic">
                    <div class="w3-display-bottomleft w3-container w3-text-black"></div>
                </div>
                <div class="w3-container">
                    </br>
                    <p><i class="fa fa-user fa-fw w3-margin-right w3-large midnight-blue"></i>Minh Vo</p>
                    <p><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-large midnight-blue"></i><a href="http://earlham.edu/">Earlham College</a></p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large midnight-blue"></i><a href="mailto:bminhvo@gmail.com">bminhvo@gmail.com</a></p>
                    <p><i class="fa fa-facebook-official fa-fw w3-margin-right w3-large midnight-blue"></i><a href="https://www.facebook.com/Minh.B.Vo">/Minh.B.Vo</a></p>
                    <p><i class="fa fa-github fa-fw w3-margin-right w3-large midnight-blue"></i><a href="https://github.com/bminhvo">/bminhvo</a></p>
                    <hr>
                    <audio id="myAudio" src="docs/bensound-summer.mp3" preload="auto"></audio>
                    <p><i class="fa fa-music fa-fw w3-margin-right w3-large midnight-blue"></i><a onClick="togglePlay()" style="cursor:pointer">Some music?</a></p>
                    <p><i class="fa fa-music fa-fw w3-margin-right w3-large" style="color: white"></i><a href="https://www.bensound.com/">Royalty Free Music from Bensound</a></p>
                    </br>
                </div>
            </div></br>

        <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="col-sm-9">
            <ul class="topnav">
                <li><a href="../index.html">About</a></li>
                <li><a class="active" href="education.html">Education</a></li>
                <li><a href="work.html">Work Experience</a></li>
                <li><a href="projects.html">Projects & Researches</a></li>
                <li><a href="skills.html">Skills & Interests</a></li>
                <li><a href="activities.html">Activities & Leadership</a></li>
            </ul>
        </br>
            
            <div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
                <h2 class="w3-text-dark-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge midnight-blue"></i>Education</h2>
                <div class="w3-container">
                    <div class="col-md-3">
                        <img src="../images/EC.png" style="width:100%" alt="Earlham College">
                        </br>
                        <p style="font-weight: bold; text-align: center">Earlham College</p>
                        <p style="text-align: center">Richmond, Indiana</p>
                        <p style="text-align: center">USA</p>
                        <p class="midnight-blue" style="text-align:center"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>Expected Graduation</p>
                        <p class="midnight-blue" style="text-align:center">May 2018</p>
                    </div>
                    <div class="col-md-9">
                        <p style="font-weight: bold">Bachelor of Arts</p>
                        <p style="font-weight: bold">Major: Computer Science | Minors: Mathematics & Physics</p>
                        <p style="font-weight: bold">Cumulative GPA: 3.86/4.0 | Major GPA: 3.98/4.0</p>
                        <p style="font-weight: bold">Honors: Faculty Scholarship & International Student Scholarship</p>
                        <p>Courses taken for Computer Science Major:</p>
                        <ul>
                            <li>MATH180 Calculus A</li>
                            <li>MATH190 Discrete Mathematics</li>
                            <li>CS128 Programming & Problem Solving</li>
                            <li>CS195 Math Toolkit</li>
                            <li>CS256 Data Structures</li>
                            <li>CS310 Algorithms</li>
                            <li>CS320 Principles of Computer Organization</li>
                            <li>CS345 Software Engineering</li>
                            <li>CS350 Electronics & Instrumentation</li>
                            <li>CS380 Theory of Computation</li>
                            <li>CS383 Bioinformatics</li>
                            <li>CS388 Methods for Research and Dissemination</li>
                            <li>CS410 Networks & Networking</li>
                        </ul>
                        <p>Additional courses taken for Mathematics & Physics Minors:</p>
                        <ul>
                            <li>MATH280 Calculus B</li>
                            <li>MATH288 Sophomore Seminar</li>
                            <li>MATH301 Euclidean & Non-Euclidean Geometry</li>
                            <li>MATH310 Linear Algebra</li>
                            <li>MATH320 Differential Equations</li>
                            <li>PHYS125 Analytical Physics I: Mechanics</li>
                            <li>PHYS235 Analytical Physics II: Electricity and Magnetism, Optics and Waves</li>
                            <li>PHYS345 Introduction to Modern Physics</li>
                        </ul>
                    </div>
                </div>
                <hr style="background-color: #003366; height: 3px">
                
                <div class="w3-container">
                    <div class="col-md-3">
                        <img src="../images/FLSS.png" style="width:100%" alt="FLSS">
                        </br>
                        <p style="font-weight: bold; text-align: center">Foreign Language</p>
                        <p style="font-weight: bold; text-align: center">Specialzed School</p>
                        <p style="text-align: center">Hanoi, Vietnam</p>
                        <p class="midnight-blue" style="text-align:center"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>2011 - 2014</p>
                    </div>
                    <div class="col-md-9">
                        <p style="font-weight: bold">One of the most selective high schools in Hanoi, Vietnam</p>
                        <p style="font-weight: bold">High School Diploma</p>
                        <p style="font-weight: bold">Concentration of Study: English</p>
                        <p>Important subjects taken:</p>
                        <ul>
                            <li>English</li>
                            <li>German</li>
                            <li>Literature</li>
                            <li>Mathematics</li>
                            <li>Physics</li>
                            <li>Chemistry</li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- End Right Column -->
        </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container midnight-blue-background w3-center w3-margin-top">
</br>
<p style="color: white">Made with improvements and alterations from  w3schools template.</p>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
</body>
</html>