<div id="content">
    <ul class="topnav animated fadeInDown">
        <li><a id="about" style="cursor:pointer">About</a></li>
        <li><a class="active">Education</a></li>
        <li><a id="work" style="cursor:pointer">Work Experience</a></li>
        <li><a id="projects" style="cursor:pointer">Projects & Researches</a></li>
        <li><a id="skills" style="cursor:pointer">Skills & Interests</a></li>
        <li><a id="activities" style="cursor:pointer">Activities & Leadership</a></li>
    </ul>
    </br>
    
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeInRight">
        <h2 class="w3-text-dark-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge midnight-blue"></i>Education</h2>
        <div class="w3-container">
            <div class="col-md-3">
                <img src="../images/EC.png" style="width:100%" alt="Earlham College">
                </br>
                <p style="font-weight: bold; text-align: center">Earlham College</p>
                <p style="text-align: center">Richmond, Indiana</p>
                <p style="text-align: center">USA</p>
                <p class="midnight-blue" style="text-align:center"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>Expected Graduation</p>
                <p class="midnight-blue" style="text-align:center">May 2018</p>
            </div>
            <div class="col-md-9">
                <p style="font-weight: bold">Bachelor of Arts</p>
                <p style="font-weight: bold">Major: Computer Science | Minors: Mathematics & Physics</p>
                <p style="font-weight: bold">Cumulative GPA: 3.86/4.0 | Major GPA: 3.95/4.0</p>
                <p style="font-weight: bold">Honors: Faculty Scholarship & International Student Scholarship; 
                Graduating with College Honors</p>
                <p>Courses taken for Computer Science Major:</p>
                <ul>
                    <li>MATH180 Calculus A</li>
                    <li>MATH190 Discrete Mathematics</li>
                    <li>CS128 Programming & Problem Solving</li>
                    <li>CS195 Math Toolkit</li>
                    <li>CS256 Data Structures</li>
                    <li>CS310 Algorithms</li>
                    <li>CS320 Principles of Computer Organization</li>
                    <li>CS345 Software Engineering</li>
                    <li>CS350 Electronics & Instrumentation</li>
                    <li>CS365 AI & Machine Learning</li>
                    <li>CS380 Theory of Computation</li>
                    <li>CS383 Bioinformatics</li>
                    <li>CS388 Methods for Research and Dissemination</li>
                    <li>CS410 Networks & Networking</li>
                </ul>
                <p>Additional courses taken for Mathematics & Physics Minors:</p>
                <ul>
                    <li>MATH280 Calculus B</li>
                    <li>MATH288 Sophomore Seminar</li>
                    <li>MATH301 Euclidean & Non-Euclidean Geometry</li>
                    <li>MATH310 Linear Algebra</li>
                    <li>MATH320 Differential Equations</li>
                    <li>PHYS125 Analytical Physics I: Mechanics</li>
                    <li>PHYS235 Analytical Physics II: Electricity and Magnetism, Optics and Waves</li>
                    <li>PHYS345 Introduction to Modern Physics</li>
                </ul>
            </div>
        </div>
        <hr style="background-color: #003366; height: 3px">
        
        <div class="w3-container">
            <div class="col-md-3">
                <img src="../images/FLSS.png" style="width:100%" alt="FLSS">
                </br>
                <p style="font-weight: bold; text-align: center">Foreign Language</p>
                <p style="font-weight: bold; text-align: center">Specialized School (FLSS)</p>
                <p style="font-weight: bold; text-align: center">(THPT Chuyen Ngoai Ngu)</p>
                <p style="text-align: center">Hanoi, Vietnam</p>
                <p class="midnight-blue" style="text-align:center"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>2011 - 2014</p>
            </div>
            <div class="col-md-9">
                <p style="font-weight: bold">High School Diploma</p>
                <p style="font-weight: bold">Concentration of Study: English</p>
                <p>FLSS is one of the most selective high schools in Vietnam with an acceptance rate of around 10.5% in 2015.</p>
                <p>Some of the important subjects taken:</p>
                <ul>
                    <li>Mathematics</li>
                    <li>Physics</li>
                    <li>Chemistry</li>
                    <li>English</li>
                    <li>German</li>
                    <li>Literature</li>
                </ul>
            </div>
        </div>
    </div>
</div>
        
<script type="text/javascript" src="../js/jquery.js"></script>
