<div id="content">
    <ul class="topnav animated fadeInDown">
        <li><a id="about" style="cursor:pointer">About</a></li>
        <li><a id="education" style="cursor:pointer">Education</a></li>
        <li><a id="work" style="cursor:pointer">Work Experience</a></li>
        <li><a class="active">Projects & Researches</a></li>
        <li><a id="skills" style="cursor:pointer">Skills & Interests</a></li>
        <li><a id="activities" style="cursor:pointer">Activities & Leadership</a></li>
    </ul>
    </br>
    
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeInRight">
        <h2 class="w3-text-dark-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge midnight-blue"></i>Projects & Researches</h2>
        <div class="w3-container">
            <p style="font-weight: bold">Ongoing Senior Capstone Project/Research<p/>
            <p style="font-weight: bold">Using Machine Learning algorithms and Python’s Scikit-learn to predict 
            future soccer match results of the English Premier League.</p>
            <p class="midnight-blue"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>September 2017 - Present</p>
            <p> After a semester of choosing an appropriate topic and reading about the subject, I have conducted
            an Annotated Bibliography, a Survey Paper, and a Project Proposal. The plan for my final semester (Spring 2018)
            at Earlham College is to make a program/script that can execute every step needed in the process of
            predicting future results. This starts from writing code that retrieves the data from the source and preprocess the data
            into a usable format. During the course of the project and after training and testing have been performed, the selection
            of different statistical features and Machine Learning algorithms will be determined (provided and tested by using
            Scikit-learn) to predict the upcoming match outcomes.
            <p><i class="fa fa-file-pdf-o fa-fw w3-margin-right w3-large midnight-blue"></i><a href="../docs/Minh Vo - Soccer Prediction Survey.pdf" target="_blank">Survey Paper</a></p>
            <p><i class="fa fa-file-pdf-o fa-fw w3-margin-right w3-large midnight-blue"></i><a href="../docs/Minh Vo - Project Proposal.pdf" target="_blank">Project Proposal</a></p>
        </div>
        <hr style="background-color: #003366; height: 3px">
        
        <div class="w3-container">
            <p style="font-weight: bold">Functional Programming Class - Group Project</p>
            <p style="font-weight: bold">War Card Game & Blackjack</p>
            <p style="font-weight: bold">Pair Programming</p>
            <p class="midnight-blue"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>October - November 2017</p>
            <p>In the Functional Programming class, I got to learn a totally new and purely functional programming language, 
            which is Haskell. The language avoids state changing and thus, it is different from most common imperative languages such as C/C++, Python, Java, etc.
            Because of that characteristic, it was very challenging to create simple versions of War Card Game and Blackjack in Haskell or in any functional programming languages. 
            We had to learn and make use of I/O in Haskell to get around the obstacle that is immutability.
            </p>
            <p><i class="fa fa-github fa-fw w3-margin-right w3-large midnight-blue"></i><a href="https://github.com/bminhvo/War_Blackjack" target="_blank">GitHub Repository</a></p>
        </div>
        <hr style="background-color: #003366; height: 3px">
        <div class="w3-container">
            <p style="font-weight: bold">Software Engineering Class - Group Project
            <p style="font-weight: bold">Teal The Social Application</p>
            <p style="font-weight: bold">My Responsibility: Front-end Developer</p>
            <p class="midnight-blue"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>March - May 2017</p>
            <p>This web application functions as a social connector and its primary purpose is to facilitate the connection of
            users who have some certain needs with other users who can fulfil those needs. Hence, users can search for, connect with, 
            and make their requests to other users who may not be within close geographic proximity.
            </p>
            <p>Teal has some features integrated from popular social networking sites such as Facebook and Twitter. However, it also has certain features that are unique to it. 
            The bulk of the application's framework was built using Rails 4.2.5. PostgreSQL 9.3.15 served as the database system and Bootstrap was used to design the front-end UI.
            </p>
            <p>
            Within the group of five members, we decided to divide the work up so that we could finish the project efficiently. I was assigned the role of a Front-end developer.
            From the prototype/template that we got, my job was to alter and improve the elements of the UI as well as the UX 
            according to our group's planning and the users' feedback. I also partially contributed to the Back-end development of the web application during our pair programming sessions.
            </p>
            <p><i class="fa fa-github fa-fw w3-margin-right w3-large midnight-blue"></i><a href="https://github.com/bminhvo/Teal-social-app" target="_blank">GitHub Repository</a></p>
        </div>
        <hr style="background-color: #003366; height: 3px">
        
        <div class="w3-container">
            <p style="font-weight: bold">Software Engineering Class - Group Project
            <p style="font-weight: bold">Amazon - Nike Compare Web Application</p>
            <p style="font-weight: bold">My Responsibility: Back-end Developer</p>
            <p class="midnight-blue"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>January - February 2017</p>
            <p>Given Nike product names, this web application collects the prices (among other pieces of data) from amazon.com and nike.com, 
            analyzes it, and presents it for the user to compare the prices on the two websites. The average prices are calculated and visualized
            as a bar chart. Users can also search the results using specific details such as product descriptions, prices or ratings.
            </p>
            <p>The application itself was built with AngularJS and the user interface was designed with Twitter’s Bootstrap. 
            Angular Material was conveniently used to build most of the UI features. D3.js is used to draw the bar chart 
            using the average prices from Nike.com every time a product is searched.
            </p>
            <p>Python modules were used to build the server, scrape the data, and perform the data analysis. The server was implemented with Flask
            and BeautifulSoup was used to scrape data from amazon.com and nike.com. Given a keyword, the bs4 makes search requests to 
            amazon.com and nike.com by passing the keyword as a query string in the URL. It then downloads the returned HTML files and selects from the HTML tree the required HTML 
            elements with certain classes and/or attributes. The selected relevant data is then saved into a JSON file to be used as the model in Angular’s MVC.
            </p>
            <p>
            My role in the group of three members was to implemente Flask and BeautifulSoup
            to scrape data from amazon.com and nike.com based on user’s searches.
            To go into more details, I had to examined the HTML tree and designed a way to select certain tags/attributes to extract data about the products,
            which were saved into a JSON file for other members to use for displaying purposes.
            </p>
            <p><i class="fa fa-github fa-fw w3-margin-right w3-large midnight-blue"></i><a href="https://github.com/bminhvo/Amazon-Nike-compare" target="_blank">GitHub Repository</a></p>
        </div>
            
    </div>
</div>

<script type="text/javascript" src="../js/jquery.js"></script>
