<!-- Right Column -->
<div class="col-sm-9" id="content">
    <ul class="topnav animated fadeInDown">
        <li><a href="../index.html">About</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="work.html">Work Experience</a></li>
        <li><a class="active" href="projects.html">Projects & Researches</a></li>
        <li><a href="skills.html">Skills & Interests</a></li>
        <li><a href="activities.html">Activities & Leadership</a></li>
    </ul>
    </br>
    
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeInRight">
        <h2 class="w3-text-dark-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge midnight-blue"></i>Projects & Researches</h2>
        <div class="w3-container">
            <p>asd</p>
            <p>My full name is Minh Vo. You can just call me Minh!
        </div>
    </div>
<!-- End Right Column -->
</div>