<div id="content">
    <ul class="topnav animated fadeInDown">
        <li><a href="#" id="about">About</a></li>
        <li><a href="#" id="education">Education</a></li>
        <li><a href="#" id="work">Work Experience</a></li>
        <li><a class="active">Projects & Researches</a></li>
        <li><a href="#" id="skills">Skills & Interests</a></li>
        <li><a href="#" id="activities">Activities & Leadership</a></li>
    </ul>
    </br>
    
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeInRight">
        <h2 class="w3-text-dark-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge midnight-blue"></i>Projects & Researches</h2>
        <div class="w3-container">
            <p>asd</p>
            <p>My full name is Minh Vo. You can just call me Minh!</p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
