<div id="content">
    <ul class="topnav animated fadeInDown">
        <li><a id="about">About</a></li>
        <li><a id="education">Education</a></li>
        <li><a id="work">Work Experience</a></li>
        <li><a id="projects">Projects & Researches</a></li>
        <li><a class="active">Skills & Interests</a></li>
        <li><a id="activities">Activities & Leadership</a></li>
    </ul>
    </br>
    
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeInRight">
        <h2 class="w3-text-dark-grey w3-padding-16"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge midnight-blue"></i>Skills & Interests</h2>
        <div class="w3-container">
            <div class="w3-half"  style="padding-right:20px">
                <p class="w3-large"><b><i class="fa fa-code fa-fw w3-margin-right midnight-blue"></i>Programming Skills</b></p>
                <p style="margin-bottom: 1px !important">Python</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:90%"></div>
                </div>
                <p style="margin-bottom: 1px !important">C/C++</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:85%"></div>
                </div>
                <p style="margin-bottom: 1px !important">HTML</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:75%"></div>
                </div>
                <p style="margin-bottom: 1px !important">CSS</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:70%"></div>
                </div>
                <p style="margin-bottom: 1px !important">SQL</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:65%"></div>
                </div>
                <p style="margin-bottom: 1px !important">JavaScript</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:65%"></div>
                </div>
                <p style="margin-bottom: 1px !important">R</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:50%"></div>
                </div>
                <p style="margin-bottom: 1px !important">Haskell</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:50%"></div>
                </div>
                </br>

                <p class="w3-large w3-text-theme"><b><i class="fa fa-code fa-fw w3-margin-right midnight-blue"></i>Familiarities:</b></p>
                <ul>
                    <li>Flask</li>
                    <li>MySQL</li>
                    <li>Bootstrap</li>
                    <li>SASS</li>
                    <li>jQuery</li>
                    <li>AngularJS 1.x</li>
                    <li>ReactJS</li>
                    <li>Git</li>
                    <li>LaTeX</li>
                    <li>Shell Script (Bash)</li>
                </ul>
                </br>
            </div>
            <div class="w3-half">
                <p class="w3-large w3-text-theme"><b><i class="fa fa-desktop fa-fw w3-margin-right midnight-blue"></i>Common Applications:</b></p>
                <ul>
                    <li>Microsoft Word</li>
                    <li>Microsoft Excel</li>
                    <li>Microsoft PowerPoint</li>
                    <li>Adobe Photoshop</li>
                    <li>PhotoScape</li>
                    <li>Sony Vegas</li>
                </ul>
                <p class="w3-large w3-text-theme"><b><i class="fa fa-laptop fa-fw w3-margin-right midnight-blue"></i>Operating Systems:</b></p>
                <ul>
                    <li>Windows</li>
                    <li>Linux</li>
                </ul>
                <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right midnight-blue"></i>Languages</b></p>
                <p style="margin-bottom: 1px !important">English</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:100%"></div>
                </div>
                
                <p style="margin-bottom: 1px !important">Vietnamese</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:100%"></div>
                </div>
                
                <p style="margin-bottom: 1px !important">German</p>
                <div class="w3-progress-container w3-round-xlarge w3-small">
                    <div class="w3-progressbar w3-round-xlarge midnight-blue-background" style="width:30%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>