<!DOCTYPE html>
<html>
<title>Minh Vo</title>
<meta property="og:site_name" content="Minh Vo"/>
<meta property="og:title" content="Minh Vo"/>
<meta property="og:description" content="Computer Science Major"/>
<meta property="og:image" content="../images/Minh.jpg">
<meta property="og:type" content="website"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../styles/w3.css">
<link rel="stylesheet" href="../styles/style.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
  
        <!-- Left Column -->
        <div class="col-sm-3">
            <div class="w3-white w3-text-dark-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="../images/Minh.jpg" style="width:100%" alt="Profile Pic">
                    <div class="w3-display-bottomleft w3-container w3-text-black"></div>
                </div>
                <div class="w3-container">
                    </br>
                    <p><i class="fa fa-user fa-fw w3-margin-right w3-large midnight-blue"></i>Minh Vo</p>
                    <p><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-large midnight-blue"></i><a href="http://earlham.edu/">Earlham College</a></p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large midnight-blue"></i><a href="mailto:bminhvo@gmail.com">bminhvo@gmail.com</a></p>
                    <p><i class="fa fa-facebook-official fa-fw w3-margin-right w3-large midnight-blue"></i><a href="https://www.facebook.com/Minh.B.Vo">/Minh.B.Vo</a></p>
                    <p><i class="fa fa-github fa-fw w3-margin-right w3-large midnight-blue"></i><a href="https://github.com/bminhvo">/bminhvo</a></p>
                    <hr>

                    </br>
                </div>
            </div></br>

        <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="col-sm-9">
            <ul class="topnav">
                <li><a href="../index.html">About</a></li>
                <li><a href="education.html">Education</a></li>
                <li><a class="active" href="work.html">Work Experience</a></li>
                <li><a href="projects.html">Projects & Researches</a></li>
                <li><a href="skills.html">Skills & Interests</a></li>
                <li><a href="activities.html">Activities & Leadership</a></li>
            </ul>
        </br>
            
            <div class="w3-container w3-card-2 w3-white w3-margin-bottom animated fadeIn">
                <h2 class="w3-text-dark-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge midnight-blue"></i>About Me</h2>
                <div class="w3-container">
                    <div class="col-md-3">
                        <img src="../images/EC.png" style="width:100%" alt="Earlham College">
                        </br>
                        <p style="font-weight: bold; text-align: center">Earlham College</p>
                        <p style="text-align: center">Richmond, Indiana</p>
                        <p style="text-align: center">USA</p>
                        <p class="midnight-blue" style="text-align:center"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>Sept 2017 - Present</p>
                    </div>
                    <div class="col-md-9">
                        <p style="font-weight: bold">Helping Others Program</p>
                        <p style="font-weight: bold">Tutor/Teaching Assistant</p>
                        <ul>
                            <li>I worked as a Computer Science tutor/teaching assistant for Introduction and Data Structures classes.</li>
                            <li>I also attended lab and tutoring sessions to help answer students’ questions about the assignments and projects.</li>
                        </ul>
                    </div>
                </div>
                <hr style="background-color: #003366; height: 3px">
                
                <div class="w3-container">
                    <div class="col-md-3">
                        <img src="../images/FPT-IS.jpg" style="width:100%" alt="FPT IS">
                        </br>
                        <p style="font-weight: bold; text-align: center">FPT Information System</p>
                        <p style="text-align: center">Hanoi, Vietnam</p>
                        <p class="midnight-blue" style="text-align:center"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>May - August 2017</p>
                    </div>
                    <div class="col-md-9">
                        <p style="font-weight: bold">Modelizing Postal Information Technology System Project</p>
                        <p style="font-weight: bold">Software Engineer Intern</p>
                        <ul>
                            <li>The goal of the project was to design and deploy automatic transaction system and operator manager for Vietnam Post (VN Post).</li>
                            <li>I worked with a team of ten developers to develop solutions for the software based on VN Post’s requirements.</li>
                            <li>Additionally, I helped install, register and configure batch processing agents that extract data from Message Server.</li>
                        </ul>
                    </div>
                </div>
                <hr style="background-color: #003366; height: 3px">
                
                <div class="w3-container">
                    <div class="col-md-3">
                        <img src="../images/FPT-IS.jpg" style="width:100%" alt="FPT IS">
                        </br>
                        <p style="font-weight: bold; text-align: center">FPT Information System</p>
                        <p style="text-align: center">Hanoi, Vietnam</p>
                        <p class="midnight-blue" style="text-align:center"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>May - August 2016</p>
                    </div>
                    <div class="col-md-9">
                        <p style="font-weight: bold">Modelizing Postal Information Technology System Project</p>
                        <p style="font-weight: bold">Analyst Intern</p>
                        <ul>
                            <li>I attended meetings with the clients from VN Post to discuss their requirements of the software.</li>
                            <li>More importantly, I translated, analyzed and explained details of the Architectural Specification and
                            High Level Functional Specification documents to project team as the documents were in English instead of in native language.</li>
                        </ul>
                    </div>
                </div>
                <hr style="background-color: #003366; height: 3px">
                
                <div class="w3-container">
                    <div class="col-md-3">
                        <img src="../images/EC.png" style="width:100%" alt="Earlham College">
                        </br>
                        <p style="font-weight: bold; text-align: center">Earlham College</p>
                        <p style="text-align: center">Richmond, Indiana</p>
                        <p style="text-align: center">USA</p>
                        <p class="midnight-blue" style="text-align:center"><i class="fa fa-calendar fa-fw w3-large midnight-blue"></i>Sept 2014 - Dec 2017</p>
                    </div>
                    <div class="col-md-9">
                        <p style="font-weight: bold">Sports Information</p>
                        <p style="font-weight: bold">Soccer Statistics Collector</p>
                        <ul>
                            <li>I recorded soccer match statistics, which included goals, corners, fouls, shots, etc.</li>
                            <li>Moreover, I provided the recorded statistics, team and player notes to the Sports Information Director,
                            coaches of both home and away teams, and news media.</li>
                        </ul>
                    </div>
                </div>

            </div>
        <!-- End Right Column -->
        </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container midnight-blue-background w3-center w3-margin-top">
</footer>

</body>
</html>